name: Reusable - Pull Request
on:
  workflow_call:
    secrets:
      github-private-actions-pat:
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: YAML file validation
        uses: mpoc/nexus-validate-using-remote-schema-action@main
        with:
          api-endpoint: https://json.schemastore.org/github-action.json
          yaml-file: action.yml

  test:
    runs-on: ubuntu-latest
    needs: [ lint ]
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.github-private-actions-pat }}
          event-type: my-event