name: Test default behaviour
on:
  workflow_dispatch: {}
  repository_dispatch:
    types: [ run-tests ]

permissions:
  contents: write

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: echo "Do setup"

  test:
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: ./
        id: current
        with:
          env-label: |
              preview: deploy
          labels: '[ "deploy" ]'
          open: true

      - uses: nick-fields/assert-action@v1
        with:
          expected: preview
          actual: ${{ steps.current.outputs.deploy_envs }}

      - name: Test
        run: echo "Do Test"

  teardown:
    runs-on: ubuntu-latest
    needs: [test]
    if: ${{ always() }}
    steps:
      - name: Tear down
        run: echo "Do Tear down"
